global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "filebrowser_http"
    metrics_path: /probe
    scrape_interval: 15s
    scrape_timeout: 10s
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
          - /etc/prometheus/targets_filebrowser.json
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115