name: Go CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.0"

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build main.go

      - name: Build Docker Image
        run: docker build -t filebrowser-admin:latest .

      - name: Cleaning Old Container
        run: |
          docker stop filebrowser-admin || true
          docker rm filebrowser-admin || true

      - name: Run New Container
        run: |
          docker run -d --name filebrowser-admin -p 8081:8081 filebrowser-admin:latest
